<div class="col-xs-4 tweet-item-container">
  <div class="tweet-item">
    <div class="row tweet-item-heading">
      <div class="col-sm-4 col-xs-12 tweet-user-avatar">
        <div class="media-middle">
          <img class="media-object" src="{{ item.user.profile_image_url }}" />
        </div>
      </div><!-- .tweet-user-avatar -->
      <div class="col-sm-8 col-xs-12 tweet-user-info">
        <div class="row">
          <div class="col-xs-12 tweet-user-display-name">
            <strong>{{ item.user.name }}</strong>
          </div><!-- .tweet-user-display-name -->
          <div class="col-xs-12 tweet-user-handle">
            <em>@{{ item.user.screen_name }}</em>
          </div><!-- .tweet-user-handle -->
        </div>
      </div><!-- .tweet-user-info -->
    </div><!-- .tweet-item-heading -->
    <div class="row tweet-item-content">
      <div class="col-xs-12 tweet-item-text">
        <p>{{ item.text }}</p>
      </div><!-- .tweet-item-text -->
    </div><!-- .tweet-item-content -->
    <div class="row tweet-item-footer">
      <div class="col-sm-6 col-xs-12 tweet-item-counts">
        <div class="row">
          <div class="col-sm-6 col-xs-5 tweet-item-favorite">
            <span class="label label-default">
              <span class="glyphicon glyphicon-heart"></span>
              <span>{{ item.favorite_count }}</span>
            </span>
          </div><!-- .tweet-item-favorite -->
          <div class="col-sm-6 col-xs-5 tweet-item-retweet">
            <span class="label label-default">
              <span class="glyphicon glyphicon-retweet"></span>
              <span>{{ item.retweet_count }}</span>
            </span>
          </div><!-- .tweet-item-retweet -->
        </div>
      </div><!-- .tweet-item-counts -->
      <div class="col-sm-6 col-xs-12 tweet-item-time">
        <small data-date="{{ item.created_at }}">{{ item.created_at }}</small>
      </div><!-- .tweet-item-time -->
    </div><!-- .tweet-item-footer -->
  </div><!-- .tweet-item -->
</div><!-- .tweet-item-container -->
