{% extends "layouts/base.html" %}

{% block content %}
<div class="jumbotron">
    <h1>Search</h1>
    <p>This is the Search Page.</p>
    
    <p class="lead">Search for a hashtag</p>
    
    <form class="form-inline">
        <div class="form-group">
            <label class"sr-only" for="hashtag">Hashtag</label>
            <input type="text" class="form-control" id="hashtag" placeholder="#nyc">
        </div>
        <button type="submit" class="btn btn default">Search</button>
    </form>
    <h4>Search Results</h4>
    <div class="panel panel-default">
        <div class="panel-body">
            Basic Panel
        </div>
    </div>
</div>

<body background="http://www.kucuu.com/desktop-wallpaper-home/Blue-sky-and-white-clouds-Wallpaper-1920x1080.jpg">
        
    </body>
    
{% endblock %}