{% extends "layouts/base.html" %}

{% block content %}

<body background="http://www.kucuu.com/desktop-wallpaper-home/Blue-sky-and-white-clouds-Wallpaper-1920x1080.jpg">
    </body>
    
    <div class="jumbotron">
    <h1>Streams</h1>
    
    <p>Welcome to Streams. Search any hashtags that you wish to see.</p>
    
    <p class="lead">Search for a hashtag</p>
    
    <form class="form-inline">
        <div class="form-group">
            <label class"sr-only" for="hashtag">Hashtag</label>
            <input type="text" class="form-control" id="hashtag" placeholder="#nyc">
        </div>
        <button type="submit" class="btn btn default">Search</button>
    </form>
</div>
<style type="text/css">
    h1, p{
        text-align: center;
    }
</style>
{% endblock %}