{% extends "layouts/base.html" %}

{% block content %}
<div class="page-header">
    <h1>About</h1>
    <p class="lead">My name is Mohammad Khalid and I am an undergraduate at 
    Brooklyn College. This website allows users to search hashtags from major 
    social media platforms such as Twitter or Facebook. 
    Hopefully, the users will get a great experience and enjoy. Have Fun!</p>
    </div>
    <div class="boxed">
        
</div>
    <body background="http://www.kucuu.com/desktop-wallpaper-home/Blue-sky-and-white-clouds-Wallpaper-1920x1080.jpg">
    </body>
    
    <style type="text/css">
    p {
        color: black;
    }
    h1{
        text-align: center;
        margin-top:15px;
    }
    .boxed {
  border: solid black ;
  box-sizing: border-box;
}
    </style>
{% endblock %}