{% extends "layouts/base.html" %}

{% block content %}
<div class="page-header">
    <h1>About</h1>
    <p class="lead">My name is Mohammad Khalid and I am an undergraduate at 
    Brooklyn College. This website allows users to search hashtags from major 
    social media platforms such as Twitter or Facebook. 
    Hopefully, the users will get a great experience and enjoy. Have Fun!</p>
    </div>
    <div class="boxed">
        <h2>Meet The Desiigner</h2>
        <h3>Mohammad Khalid</h3>
        <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/11295606_971713992862899_407457953028748151_n.jpg?oh=f6946ebe1f86815af1643e68b0fd47ba&oe=57DFE06C">
</div>
    
    <style type="text/css">
    p {
        color: black;
    }
    h1{
        text-align: center;
        margin-top: 15px;
    }
    .boxed {
  border: solid black ;
  background-color: black;
  }
  h2, h3{
      color:white;
      text-align: center;
  }
    </style>
{% endblock %}